.modelBackground {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(228, 223, 223, 0.044); /* Semi-transparent background */
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .modelContainer {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    width: 60%;
    height: 60%;
    text-align: center;
  }
  .descriptionContainer{
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    height: 50%;
    text-align: left;
    display: flex;
    justify-content: center;
    overflow-y: auto; /* Enable vertical scrollbar */
    
  }
  .descriptionContainer .imgDiv{
    
    flex: 0 0 40%; /* Take up 50% of the width */
    max-width: 100%; /* Ensure the image does not exceed its container */
     
  }
  .descriptionContainer .introDiv{
    flex: 1; /* Take up remaining space */
    margin-left: 10px; /* Add some space between the image and paragraph */
    color: rgb(10, 9, 9); /* Set text color */
    padding: 10px;
   
    text-align: justify;
  }
  .descriptionContainer .introDiv h3{
    font-size: 15px;
    text-align: center;
  }
  .titleCloseBtn {
    display: flex;
    justify-content: flex-end;

  }
  .titleCloseBtn  button {
    color: red;
     padding: 5px;
     background-color: transparent;
    border-radius: 50%;
  }
  .titleCloseBtn  button:hover{
    color: white;
    background-color: red;
    
  }
  .startBtn {
    background-color: #007bff; /* Blue color */
    color: white;
    margin-top: 50px;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .startBtn:hover {
    background-color: #0056b3; /* Darker blue on hover */
  }
  
  .titles h1{
    margin-bottom: 10px;
    font-size:40px;
    font-family: 'Times New Roman', Times, serif;
  }