.formPopup{
    background-color: #f6f6f8;
}

/* Add padding to containers */
.containerss{
  padding: 16px;
}

/* Full-width input fields */
input[type=text],textarea,input[type=number] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #a9a5a543;
  font-size: large;
}

input[type=text]:focus, input[type=password],input[type=number]:focus {
  background-color: #ddd;
  outline: none;
}

/* Overwrite default styles of hr */
hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}

/* Set a style for the submit/register button */
.registerbtn {
  background-color:rgba(9, 60, 123, 0.898);
  color: white;
  padding: 16px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}

.registerbtn:hover {
  opacity:1;
}

/* Add a blue text color to links */
a {
  color: dodgerblue;
}

/* Set a grey background color and center the text of the "sign in" section */
.signin {
  background-color: #f1f1f1;
  text-align: center;
}

 
  
 .formPopup .closeBtn {
    position: absolute;
    top: 10px;
    right: 10px;
    background: none;
    border: none;
    font-size: 30px;
    cursor: pointer;
    color: rgba(255, 0, 0, 0.67);
   
  }

  .closeBtn :hover{
    color: #f50303;
  }


    /* Media queries for responsiveness */
@media (max-width: 768px) {
    .formPopup {
      width: 90%; /* Adjust width for smaller screens */
      padding: 10px;
    }
  }