.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    padding: 10px 30px;
    background-color: aliceblue;
    right: 0;
    width: 84%;
    height: 10vh;
    box-shadow: 0 3px 6px  #0c7dda59;
}

.header-right {
    display: flex;
    align-items: center;
}

.header .profile {
    display: flex;
    align-items: center;
    padding: 5px 10px;
    border-radius: 10px;
}

.header .profile img {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    margin-right: 10px;
    object-fit: cover;
    box-shadow: 
        0 0 0 1px #fff,  /* Inner white border */
        0 0 0 2px #000;  /* Outer black border */
}

.header .profile .profile-name {
    font-size: 1rem;
    font-weight: 300;

}

.notification {
    display: flex;    
    position: relative;
    padding: 15px 20px;
    margin-right: 10px;
    border-radius: 50%;
    color: #5D7285;
    cursor: pointer;

}

.notification .bell {
    font-size: 1.5rem;
    transition: all 0.4s;
}

.notification:hover {
    color: #0C7FDA;
}

.notification .notification-count {
    background-color: #0C7FDA;
    color: white;
    padding: 2px 5px;
    border-radius: 50%;
    font-size: 0.8rem;
    position: absolute;
    top: 0;
    right: 1;
    right: 0;
    margin-right: 15px;
    margin-top: 5px;
}


/*    Notification     */
.notification-popup {
    position: absolute;
    max-width: 250px;
    height: 300px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    /* padding: 10px; */
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    right: 100px;
    top: 60px; /* Adjust based on the height of your header */
    overflow: auto;
}

.notification-popup .notification-item {
    padding: 10px;
    position: relative;
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid #ccc;
}

.notification-popup .notification-item .notification-item-title {
    font-size: 0.9rem;
    font-weight: 500;
}

.notification-popup .notification-item .notification-item-message {
    font-size: 0.8rem;
    color: #333333a2;
    text-align: start;
}

.notification-popup .notification-item .notification-item-time {
    position: absolute;
    font-size: 0.7rem;
    color: #ccc;
    top: 0;
    right: 0;
}

#read {
    background-color: #f0f0f0;
}

.profile-options {
    position: absolute;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    right: 10px;
    top: 60px;
}

.profile-options .profile-option {
    padding: 10px;
    display: flex;
    align-items: center;
    cursor: pointer;
}  

.profile-options .profile-option:hover {
    background-color: #f0f0f0;
}