.sidebar {
    width: 16%;
    height: 100vh;
    position: absolute;
    padding: 10px 5px;
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
    align-items: center;
    box-shadow: 3px 0 35.16px rgba(0, 0, 0, 0.2);
    min-width: 170px;
}

.sidebar .logo {
    margin: 20px 0 30px 0;
    font-size: 1.4rem;
    font-weight: 800;
    text-align: center;
    width: 80%;
}

.sidebar .sidebar-elements {
    font-weight: 100;
    color: #5D7285;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 80%;
    width: 95%;
}

.sidebar .nav-links, .sidebar .nav-settings{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 100%;
}

.sidebar-elements .sidebar-icon {
    font-size: 1.5rem;
    margin: 0 10px;
}

.nav-links .side_btn, .nav-settings .side_btn {
    display: flex;
    align-items: center;
    padding: 10px 10px;
    margin: 5px 0;
    width: 100%;
    border-radius: 10px;
    transition: all 0.4s;
    cursor: pointer;
}

.nav-links .side_btn:hover, .nav-settings .side_btn:hover {
    background-color: #E9F5FE;
    color: #0C7FDA;
}

.nav-links .active-link, .nav-settings .active-link {
    background-color: #E9F5FE;
    color: #0C7FDA;
}

