.students-container {
    display: flex;
    flex-direction: column;
    margin: 20px;
}

.students-container table {
    width: 100%;
    border-collapse: collapse;
}

.students-container table th {
    background-color: #2e82cc;
    color: white;
    padding: 10px;

}

.students-container table td {
    padding: 10px;
    border-bottom: 1px solid #2e82cc;

}

.students-container table tr:hover {
    background-color: #f1f1f1;
}
